@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reset Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark light;
}

/* Variables */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-gray: hsl(0, 0%, 46%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --general-padding: 2em;
    --general-margin: .5em;
    --radius: 15px;
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
}

body {
    align-items: center;
    background-color: var(--dark-cyan);
    background-image: url(../img/bg-pattern-bottom.svg), url(../img/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: top -350% right -30%, bottom -300% left -55%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    min-height: 100vh;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/* Typography */

h3,
h4,
p,
span {
    color: var(--very-dark-desaturated-blue);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

.card__body p {
    font-size: .8rem;
    color: var(--dark-gray);

}

.card__user--age {
    font-weight: normal;
    margin-left: var(--general-margin);
    color: var(--dark-gray);

}

.card__stats p {
    font-size: .6em;
    letter-spacing: 1px;
    color: var(--dark-gray);
}

/* Card Section */

.card {
    border-radius: var(--radius);
    background-color: #fff;
    width: 85%;
    max-width: 400px;
}

.card__banner {
    background-image: url(../img/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    min-height: 130px;
}


.card__banner img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin: auto;
    max-width: 30%;
    position: relative;
    top: 80px;
}

.card__body {
    padding: var(--general-padding);
    margin-top: 2.5em;
}

.card__user {
    margin-bottom: var(--general-margin);
}

.card__footer {
    border-top: .1px solid rgb(219, 214, 214);
    display: flex;
    justify-content: space-evenly;
    padding: var(--general-padding);
}

.card__stats p {
    margin-top: var(--general-margin);
}

@media (max-width: 376px) {
    body {
        background-image: url(../img/bg-pattern-top.svg), url(../img/bg-pattern-bottom.svg);
        background-position: top 140% right -20%, top -60% left -10%;
    }
}